@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-base-100 dark:bg-dark-base-100 text-slate-900 dark:text-base-200;
    font-family: 'Inter', sans-serif;
}

.limit-screen-width {
    width: min(100vw, 60rem);
}

/*
- Animations
*/
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animated-gradient {
    @apply bg-gradient-to-tr from-base-100 dark:from-dark-base-100 to-base-300 dark:to-dark-base-300;
    background-size: 200% 200%; /* Make gradient larger than container */
    animation: gradient-animation 10s ease infinite; /* Adjust animation details */
  }
  